*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
:root
{
    --main-color :  #fb5849;
    --second-color : #2a2a2a;
}
/* -----------custom classes---------- */
.bg-mainColor
{
    background-color: var(--main-color);
}
.color-mainColor
{
    color: var(--main-color);
}
.myContainer
{
    width: 100%;
}
.second-color
{
    color: var(--second-color);
}
.dancingfont
{
    font-family: 'Dancing Script', cursive;
}
/* --------------- navbar -------------*/
nav
{
    width: 87%;
    margin: auto;
}
.nav-item .nav-link
{
    padding: 2rem 1rem !important;
    font-size: 0.9375rem;
    font-weight: 600 !important;
    color: black !important;

}
.nav-item .active , .nav-item .nav-link:hover
{
    color: var(--main-color) !important;
}
/* -----------nav end---------------- */

/* -----------header start --------- */
.header-left
{
    background-image: url(../img/top-left-bg.jpg);
    background-position: center center;
    background-size: cover;
    width: 100% !important;
    height: 100% !important;
}
.header-inner h4
{
    font-family: 'Dancing Script', cursive;
    font-size: 3.375rem;
}
.header-inner h6
{
    font-size: 0.9375rem;
    font-weight: 600;
    margin-top: 0.3125rem;
    letter-spacing: 0.1875rem;
}
.header-btn a
{
    font-size: 0.8125rem;
    padding: 0.75rem 1.5625rem;
    font-weight: 600;
    margin-top: 1.5625rem ;
    align-items: flex-start;
}
.carousel-control-prev-icon , .carousel-control-next-icon
{
    background-image: none !important;
}
.carousel-icon i 
{
    font-size: 2.25rem;
}
.carousel-icon 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.3;
    background-color: var(--main-color);
    transition: all 0.3s;
}
.carousel-icon:hover
{
    opacity: 1;
}
.carousel-control-next
{
    right: 1rem;
}
/* -------------header end ------------- */

/* --------------- about start ----------- */
.title h6
{
    position: relative;
    padding-left: 2.5rem;
    font-weight: 500;
}
.title h6::before
{
    content: "";
    width: 2rem;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
}
.title h2
{
    font-size: 1.875rem;
    font-weight: 900;
    color: var(--second-color);
    line-height: 40px;
    padding-right: 6rem;
    margin: 1.25rem 0 1.5625rem;
}
.About-content p
{
    font-size: 0.9rem;
    color: var(--second-color);
}
.About-content :nth-child(4)
{
    margin-bottom: 25px;
}
.video-icon
{
    background-color: var(--main-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px );
    transition: all 0.3s;
}
.video-icon:hover
{
    opacity: 0.9;
}
/* -------------about end------------- */

/* ----------services start --------- */
#Services
{
    background-color: #fffafa;
    padding: 7rem 0rem;
}
#Services .title h2
{
    padding-right: 0rem;
}
.price
{
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--main-color);
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 70px;
}
.price h6 , .Services-card h2
{
    font-size: 1.25rem;
}
.Services-card
{
    background-color: var(--main-color);
    position: absolute;
    top: 93%;
    transition: all 1s;
}
.card2
{
    top: 98%;
}
.services-container:hover .Services-card
{
    top: 55%;
    bottom: 0;
}
.Services-card h2
{
    padding: 1.875rem 1.875rem 1.25rem;
    font-weight: 700;
}
.Services-card p
{
    padding: 0rem 1.875rem 1.25rem;
    font-size: 0.875rem;
    line-height: 1.5625rem;
}
.services-center
{
    width: 20%;
}
/* .services-slider
{
    transform: translateX(20deg);
} */
/* .services-container
{
    animation: moving 7s infinite linear;
} */
/* @keyframes moving
{
    0%{transform: translate3d(-100px, 0px, 0px);}
    10%{transform: translate3d(-200px, 0px, 0px);}
    20%{transform: translate3d(-300px, 0px, 0px);}
    30%{transform: translate3d(-400px, 0px, 0px);}
    40%{transform: translate3d(-500px, 0px, 0px);}
    50%{transform: translate3d(-600px, 0px, 0px);}
    60%{transform: translate3d(-700px, 0px, 0px);}
    70%{transform: translate3d(-800px, 0px, 0px);}
    80%{transform: translate3d(-900px, 0px, 0px);}
    90%{transform: translate3d(-1000px, 0px, 0px);}
    100%{transform: translate3d(-1100px, 0px, 0px);}
} */
/* ----------services end --------- */

/* ----------Our-chefs start ----------- */
#Our-chefs .title h6 , #Offers .title h6 
{
    position: static ;
    padding-left: 0rem;
    font-weight: 500;
}
#Our-chefs .title h2 , #Offers .title h2
{
    font-size: 1.875rem;
    font-weight: 900;
    color: var(--second-color);
    line-height: 40px;
    padding: 0.8rem 2rem;
    margin: auto;
}
.our-chefs-title h4
{
    font-weight: 700 !important;
    font-size: 1.25rem;
    color: var(--second-color);
    margin-bottom: 0 !important;
    transition: color 0.3s;
}
.our-chefs-title span
{
    font-size: 0.875rem;
    color: var(--second-color);
}
.our-chefs-item
{
    border: 1px solid #afafaf;
    padding: 0.5rem;
    transition: border-color 0.3s;
}
.our-chefs-item:hover
{
    border-color: var(--main-color);
}
.our-chefs-item:hover .our-chefs-title h4
{
   color: var(--main-color);
}
.icon-border 
{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    transition: background-color 0.3s;
}
.icon-border a 
{
    color: var(--second-color);
}
.icon-border:hover
{
    background-color: var(--main-color);
}
.img-overlay
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
    opacity: 0;
    transition: opacity 0.3s;
}
.our-chefs-item:hover .img-overlay
{
    opacity: 0.9;
}

/* ------------------Our-chefs end ------------- */

/* -----------------Contact-us start ------------ */
.Contact-us
{
    background-image: url(../img/reservation-bg.jpg);
    background-position: center center;
    background-size: cover;
    padding: 7.5rem 0rem ;
    margin: 7.5rem 0rem;
}
#Contact-us .title h6
{
    position: relative;
    padding-left: 2.5rem;
    font-weight: 500;
}
#Contact-us .title h6::before
{
    background-color: white;
}
#Contact-us .title h2
{
    font-size: 1.875rem;
    font-weight: 700;
    color: white;
    line-height: 40px;
    padding-right: 0rem;
    margin: 1.25rem 0 1.5625rem;
}
#Contact-us .title p
{
    font-size: 0.875rem;
    line-height: 1.5625rem;
    margin-bottom: 4.0625rem;
}
.contact-icon
{
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background-color: var(--main-color);
}
.contect-phone h4 , .contact-form h4 , .offers-text h4
{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.625rem;
}
.contect-phone span a
{
    font-size: 0.875rem;
    color: var(--second-color) ;
    transition: all 0.3s ;
}
.contect-phone span a:hover
{
    color: var(--main-color) ;
}
.contact-form h4
{
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
    color: var(--second-color);
}
.form-control , .contact-form input::placeholder , textarea::placeholder , .offers-text p
{
    color: #2a2a2ad8 !important;
    font-size: 0.875rem;
    line-height: 1.5625rem;
}
textarea
{
    resize: none;
    height: 9.375rem;
    padding: 1.25rem;
}
.contact-form button
{
    background-color: var(--main-color);
    font-size: 0.8125rem;
    font-weight: 600;
    transition: opacity 0.3s;
}
.contact-form button:hover
{
    opacity: 0.9;
}
.contact-form input:focus , .contact-form textarea:focus , .contact-form select:focus
{    
    border: none;
    box-shadow: 0 0 0 0.05rem var(--main-color);
}
/* -------------- Contact-us end -------------- */

/* -------------- Offers start ------------ */
#Offers .price
{
    position: static;
    width: 100px;
    height: 75px;
}
#Offers .price h6 
{
    font-size: 1.125rem;
}
#Offers .Offers-container .btn
{
    font-weight: 600;
}
#Offers .btn:focus 
{
    box-shadow: none;
}

/* ---------------Offers end -------- */
/* -------------- footer start ---------- */
#Footer
{
    background-color: var(--main-color);
}
#Footer .icon-border i 
{
    color: var(--main-color);
    transition: all 0.3s;
}
#Footer .icon-border:hover i , #Footer .icon-border:hover
{
    color: var(--second-color);
    background-color: white;
}
/* ------------footer end --------------- */
